<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PEERJS CHAT</title>

    <!-- socket.io inbuilt -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="myscript.js"></script>


    <style>
        body {
            overflow-x: hidden
        }

        ul {
            list-style-type: none;
        }

        video {
            width: 100%;
            height: 100%;
        }
    </style>

</head>

<body>
    <div class="container" id="loginDiv">
        <h2>Welcome to p2p Chat</h2>
        <div class="form-group m-1">
            <label for="username">Username</label>
            <input type="text" id="username">
        </div>
        <button type="button" id="loginButton" class="btn btn-dark">LogIn</button>

    </div>

    <div id="afterLogIn" style="background-color: yellow; display:none">
        <div class="container">
            <br>
            <div>
                Welcome <b><i><u><span id="myUsername"></span></u></i></b> ,
            </div>
            <div>
                Your UNIQUE ID : <b><i><u><span id="myId"></span></u></i></b>
            </div>
            <div class="form-group m-1">
                <label for="destPeerID">Peer ID to Connect With :</label>
                <input type="text" id="destPeerID">
                <!-- class="form-control" -->
            </div>
            <button type="button" id="connectButtton" class="btn btn-info mt-1">Connect</button>

            <button type="button" id="vChatButtton" class="btn btn-dark mt-1">Start Video Chat</button>
            <a href="/p2pfileTransfer"><button type="button" class="btn btn-dark mt-1">File Transfer</button></a>


            <div class="form-group mt-2">
                <input type="text" id="msg" class="form-control" placeholder="Type your message here . . .">
            </div>
            <button type="button" id="send" class="btn btn-success mt-1">Send</button>
        </div>

        <div class="row mt-3" id="chatWindow" style="background-color: lightsalmon">

            <div class="col-4">
                {{!-- <div style="text-align: center;">Online Users</div> --}}
                <h5 class="mt-2" style="text-align: center;">Online Users</h5>
                <br>
                <ul class="p-3" id='userList'></ul>
                <br>
            </div>

            <div class="col-8">
                <h5 class="mt-2" style="text-align: center;">Chat Window</h5>
                <br>
                <ul class="p-4" id='chatList'></ul>
                <br>
            </div>

        </div>

        <div class="row p-2" id="vChatWindow" style="background-color: teal; display:none">

            <div class="col-3">
                <video src="" style="float:bottom;" id="vChatMyStream"></video>
            </div>

            <div class="col-2">
            </div>

            <div class="col-6">
                <video src="" id="vChat"></video>
            </div>

            <div class="col-1">
            </div>

        </div>


    </div>
</body>


</html>