<!DOCTYPE html>
html
  head
    title Recipient
    link(rel='stylesheet', href='/css/style.css')
  body
    #uploadbox
      if (name)
        h2 Receiving a file :
        a(href=`/p2pfileTransfer/file/get/${token}`) Received file :  !{name}
      else
        h2 File not found...