<!DOCTYPE html>
html
  head
    title Sender :: Send file without saving to server.
    link(rel='stylesheet', href='/css/style.css')
  body
    #uploadbox
      h2 Send file:
      span#uploadarea
        label(for="filebox") Select a file : 
        input#filebox(type="file")
        br
        button#uploadbutton.btn(type='button') Submit

    script(src='//code.jquery.com/jquery-1.9.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/script.js')